<launch>

  <param name="use_sim_time" value="false" />

  <!-- Set the name of the map yaml file: can be overridden on the command line. -->
  <arg name="map" default="map.yaml" />

  <!-- Run the map server with the desired map -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- The move_base node -->
  <include file="$(find odom_tf_package)/launch/move_base_amcl.launch" />
  
  <!--zxw add Fire up AMCL-->
  <include file="$(find odom_tf_package)/launch/tb_amcl.launch" />
  

</launch>
